#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 70%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.dice-card {
  flex-shrink: 0;
  max-width: 100%;
  min-width: 40%;
  border: 1px solid #f0f0f0;
  border-radius: 1em;
}
.dice-card:hover {
  outline:.5px dotted rgba(97, 218, 251, 0.7);
}
.dice-card .head {
  padding: .5em;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 1em 1em 0 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dice-card .content {
  padding: .5em;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 1em 1em 0 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.package {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.dice-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dice {
  display: inline-block;
  font-size: 3em;
  animation-name: rotate;
  animation-fill-mode: both;
  animation-duration: .4s;
  animation-iteration-count: 2;
  transform-style: preserve-3d;
  animation-timing-function: ease-in-out;
}

.text {
  display: block;
  margin-left: .2em;
  opacity: 1;
  transition: opacity,display 1.2s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0) rotateZ(0);
  }
  33.33% {
    transform:  rotate(-0.5turn) rotateZ(20deg) scaleX(.9);
  }
  66.66% {
    transform:   rotate(0.5turn) rotateZ(120deg)  scaleX(1.1);
  }
  100% {
    transform: rotate(0) rotateZ(0);
  }
}

.flash-button {
  animation-name: flash;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}